<div class="col-sm">
	<h1>Detalhes do Paciente</h1>

	<div class='col-sm'>
		<h3>Dados Pessoais:</h3>

		<p>
			<b>Nome: </b> <%= @patient.name %>
			<b>Sexo :</b> <%= @patient.gender %>
		</p>

		<p>
			<b>Data de Nascimento:</b> <%= @patient.birth_date.strftime("%d/%m/%Y") %>
		</p>
	</div>

	<div class='col-sm'>
		<h3>Contato:</h3>

		<p>
			<b>Email:</b><%= @patient.email %>
			<b>Telefone:</b> <%= @patient.phone %>
		</p>
	</div>

	<div class='col-sm'>
		<h3>Endereço:</h3>

		<p>
			<b>Rua/Av.:</b> <%= @patient.address %>
			<b>Número:</b> <%= @patient.address_number %>
			<b>Complemento:</b> <%= @patient.address_complement %>
			<b>Cidade:</b> <%= @patient.city %>
			<b>UF:</b> <%= @patient.address_uf %>
		</p>
	</div>

	<%= link_to 'Voltar', root_path, class: "btn btn-primary" %>
	<%= link_to 'Editar', edit_patient_path, class: "btn btn-primary" %>
  <%= link_to 'Add Exame', new_patient_exam_path(@patient), class: "btn btn-primary"%>

</div>
