<div class="container-fluid">
	<h1>Exames de <%= @patient.name%></h1>

	<table class="table">
		<thead class="text-primary">
			<tr>
					<th scope="col">Exame</th>
					<th scope="col">Data do Exame</th>
					<th scope="col">Data de Entrega</th>
					<th scope="col" colspan="3" style="text-align: center">Ações</th>
			</tr>
		</thead>

		<tbody>
			<% @exams.each do |e| %>
				<tr>
					<td><%= e.exam_type %></td>
					<td><%= e.exam_date.strftime("%d/%m/%Y") %></td>
					<td><%= e.delivery_date.strftime("%d/%m/%Y") %></td>
					<td><%= link_to 'Detalhes', patient_exam_path(@patient,e) %></td>
					<td><%= link_to 'Editar', edit_patient_exam_path(@patient,e) %></td>
					<td><%= link_to 'Deletar', patient_exam_path(@patient,e), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %>
					</tr>
				</tr>
			<% end %>
		</tbody>

	</table>
</div>
