<!DOCTYPE html>
<html>
  <head>
    <title>Lab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="container-fluid">
				<div>
					<nav class="navbar navbar-dark bg-dark">
						<a class="navbar-brand" href="#">Laboratório</a>
					</nav>
				</div>		
		</div>	
		<div>
			<%= yield %>
		</div>	
  </body>
</html>
