<!DOCTYPE html>
<html>
  <head>
    <title>Lab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	
	<%= render 'layouts/nav' %>

	<div class="container-fluid">
		<body>
			<div>
				<%= yield %>
			</div>	
		</body>
	</div>

	<footer class="footer">
		<div class="container-fluid">
		</div>
	</footer>
</html>
