 <%= form_with(model: @exam, local: true) do |form| %>
       
    <table>
    <tr>
        <td>
        <%= form.label :exam_type %><br>
        <%= form.text_field :exam_type %>
        </td>
        
    </tr>

    <tr>
        <td>
        <%= form.label :exam_date %><br>
        <%= form.date_select :exam_date %>
        </td>
    
        <td>
        <%= form.label :delivery_date %><br>
        <%= form.date_select :delivery_date %>
        </td>
    
    </tr>
    </table>
       
        <p>
          <%= form.submit  "Salvar"%>
        </p>
       
      <% end %>

  <td><%= link_to 'Voltar', exams_path %></td>
