<div class="container-fluid">
	<h1>Detalhes do Exame</h1>

	<br/>

	<p>
		<strong>Tipo do Exame: </strong> <%= @exam.exam_type %> <br/>
			<br/><br/>
		<strong>Data do Exame:</strong> <%= @exam.exam_date.strftime("%d/%m/%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>Data da Entrega:</strong> <%= @exam.delivery_date.strftime("%d/%m/%Y") %><br/>
	</p>
	<br/>
	<%= link_to 'Voltar', exams_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Editar', edit_exam_path %>
</div>
