<div class="container-fluid">
	<h1>Detalhes do Paciente</h1>
	<br/>
	<h3>Dados Pessoais:</h3>

	<p>
		<b>Nome: </b> <%= @patient.name %>
		<b>Sexo :</b> <%= @patient.gender %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<br/><br/>
		<b>Data de Nascimento:</b> <%= @patient.birth_date.strftime("%d/%m/%Y") %><br/>
	</p>

	<br/>

	<h3>Contato:</h3>

	<p>
		<b>Email: </b> <%= @patient.email %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Telefone:</b> <%= @patient.phone %><br />
	</p>

	<br/>

	<h3>Endereço:</h3>

	<p>
   	<b>Rua/Av.: </b> <%= @patient.address %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	<b>Número:</b> <%= @patient.address_number %><br />
		 <br/>
	 	<b>Complemento:</b> <%= @patient.address_complement %><br />
		 <br/>
		<b>Cidade:</b> <%= @patient.city %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Estado:</b> <%= @patient.address_uf %><br />
	</p>
	<br/>
	<%= link_to 'Voltar', patients_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Editar', edit_patient_path %>
	
</div>
