<div class="container-fluid">
	<h1>Detalhes do Paciente</h1>
	<br/>
	<h3>Dados Pessoais:</h3>

	<p>
		<strong>Nome: </strong> <%= @patient.name %>
		<strong>Sexo :</strong> <%= @patient.gender %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<br/><br/>
		<strong>Data de Nascimento:</strong> <%= @patient.birth_date.strftime("%d/%m/%Y") %><br/>
	</p>

	<br/>

	<h3>Contato:</h3>

	<p>
		<strong>Email: </strong> <%= @patient.email %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>Telefone:</strong> <%= @patient.phone %><br />
	</p>

	<br/>

	<h3>Endereço:</h3>

	<p>
   	<strong>Rua/Av.: </strong> <%= @patient.address %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	<strong>Número:</strong> <%= @patient.address_number %><br />
		 <br/>
	 	<strong>Complemento:</strong> <%= @patient.address_complement %><br />
		 <br/>
		<strong>Cidade:</strong> <%= @patient.city %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>Cidade:</strong> <%= @patient.address_uf %><br />
	</p>
	<br/>
	<%= link_to 'Voltar', patients_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Editar', edit_patient_path %>
	
</div>
